.zodiac-work/
jobs/
__pycache__/
*.py[cod]
node_modules/
renderer/generated/sfx/
voice.wav
.runtime/
out/
*.wav
*.mp4
*.zip
*.mp3
zodiac_video_local.egg-info/dependency_links.txt
/zodiac_video_local.egg-info
